<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#000000">
  <meta name="robots" content="index, follow">
  <meta charset="utf-8">


  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="shortcut icon" type="image/svg" href="/assets/favicon.svg">
  <link rel="alternate" type="application/atom+xml" href="/atom.xml">


  <meta property="og:title" content="sbbls">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://acatalepsie.fr/assets/card.png">
  <meta property="og:description" content="my personal web space, for your enjoyment">


  <title>Fledin</title>

</head>
